*{
    color: white;
}
body{
    background-color: #505251;
}
th{
    text-align: left;
}
table{
    border: solid white;
}
.bg {
    width: 100%;
    position: fixed;
    top: -0.5em;
    transform: scale(1);
    z-index: -1;