header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.headings{
text-align: center;
font-weight: 600;
}
.main-heading {
    color: black;
    font-size: 20em;
}
.life{
    font-size: 10em;
}